/* FOOTER MAIN */
.dm-footer {
  background: #ffffff;
  color: #000000;
  padding: 50px 0 25px;
  font-family: "Poppins", sans-serif;
}

/* GRID LAYOUT */
.dm-footer-container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* BASIC COLUMN STYLE */
.dm-footer-col {
  display: flex;
  flex-direction: column;
}

/* BRAND TITLE */
.dm-brand-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
}

/* LOGO */
.dm-logo {
  width: 130px;
  margin-bottom: 15px;
  border-radius: 10px;
}

/* HEADINGS */
.dm-footer-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000;
}

/* NORMAL TEXT */
.dm-footer-text {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 8px;
  color: #444;
}

/* LIST */
.dm-footer-list {
  list-style: none;
  padding: 0;
}

.dm-footer-list li {
  margin-bottom: 8px;
}

.dm-footer-list a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: 0.3s;
}

.dm-footer-list a:hover {
  color: #997950;
}

/* SOCIAL ICONS */
.dm-social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.dm-social-icons a img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: 0.3s;
}

.dm-social-icons a img:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

/* COPYRIGHT */
.dm-footer-bottom {
  border-top: 1px solid #ccc;
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #777;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .dm-footer-container {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .dm-social-icons {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .dm-footer-container {
    grid-template-columns: 1fr;
  }
}
